{% load static %}
<!DOCTYPE html>
<html Lang="en">
    <!-- Esto originalmente estaba en en, por si acaso-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <title>{% block title %} Piwit - Acerca de Nosotros {% endblock %}</title>
    {% block extra_css %}{% endblock %}
    <!--TITULO-->
</head>

<body>
    <div class="about_pagina">
        <main class="st-about-bodyanimation">
            <div class="st-about-cuadrante1">
                <div class="st-about-title">
                ¿Que es Piwit?
                </div>
                <br>
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <img
                        src="{% static 'images/logos/piwit_logo_v1_125px.png'%}"><br>
                    </img>
                </div>

                <div class="st-about-creditstext">
                    Un espacio de estudio personalizable destinado a estudiantes con TDA (Trastorno por Déficit de Atención).<br><br>                 
                    ¡Usa Piwit y descubre tu verdadero potencial!
                </div>
            </div>
            <br>
            <!-- Creditos-->
            <div class="st-about-cuadrante2">
                <div class="st-about-title">
                    ¿Quienes trabajaron en este proyecto?<br>
                </div>
                <br>
                <div class="">
                    <img
                        src="{% static 'images/logos/pythoneros_logo_125px.png'%}"><br>
                    </img>
                </div>
                <br>
                <div class="text-center form-control st-about-bgdelete">
                <div class="st-about-creditsheader">
                    pythoneros8@gmail.com<br><br>
                    Programadores<br>
                </div>
                <div class="st-about-creditstext">
                ISIDORA MONTALVA<br>
                CARLOS MUNDACA<br>
                MARCELO ÓRDENES<br>
                LAURA ORELLANA<br>
                MARTÍN OÑATE<br>
                </div>
                <br>
                <div class="st-about-creditsheader">
                    Asistencia Técnica<br>
                </div>
                <div class="st-about-creditstext">
                MAXIMILIANO OSORIO<br>
                </div>
                <br>
                <div class="st-about-creditsheader">
                    Supervisores<br>
                </div>
                <div class="st-about-creditstext">
                IGNACIA 'NACHA' NEATTLE<br>
                NICOLAS CHEHADE<br>
                KARINA ALIAGA<br>
                JAVIER GUZMÁN<br>
                BALDUINO DIAZ<br>
                CRISTOBAL CARRIÓN<br>
                </div>
                <br>
                <div class="st-about-creditsheader">
                    Supervisor Lider<br>
                </div>
                <div class="st-about-creditstext">
                VICTOR GUTIERREZ<br>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="st-about-creditsheader">
                    "Natural Ocean Waves, Water Droplets & Bubbly Sounds"<br>
                </div>
                <div class="st-about-creditstext">
                Cortesía de DudeAwesome<br>
                https://freesound.org/s/386454/<br>
                Licensia: Attribution 4.0<br>
                via freesound.org<br>
                </div>
                <br>
                <div class="st-about-creditsheader">
                    "AMBIENT - Rain - On Pavement (LOOP)"<br>
                </div>
                <div class="st-about-creditstext">
                Cortesía de Arctura<br>
                https://freesound.org/s/34069/<br>
                Licensia: Attribution 3.0<br>
                via. freesound.org<br>
                </div>
                <br>
                <div class="st-about-creditsheader">
                    "Voyager Plasma Wave Data"<br>
                </div>
                <div class="st-about-creditstext">
                Audios de las misiones Voyager (1979-1989)<br>
                Cortesía de NASA y JPL-Caltech<br>
                https://voyager.jpl.nasa.gov/<br>
                Dominio Público<br>
                </div>
                </div>
            </div>
            <br>
            <div class="st-about-cuadrante3">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <img
                        src="{% static 'images/about_creditlogos_500px.png'%}"><br>
                    </img>
                    <div class="st-about-creditstext">
                    <br>
                    <div class="st-about-creditsheader">
                    Copyright Disclaimer under section 107 of the Copyright Act 1976<br>
                    </div>
                    Allowance is made for “fair use” for purposes such as criticism, comment. Fair use is a use permitted<br>
                    by copyright statute that might otherwise be infringing. Non-profit, educational or personal use tips<br>
                    the balance in favor of fair use.<br>
                    <div class="st-about-creditsheader">
                    Universidad Técnica Federico Santa María © MMXXV - Todos los derechos reservados.<br>
                    Pythoneros LLC<br>
                    </div>
                    <br>
                    Piwit BETA BUILD v.1.1.3: DO NOT DISTRIBUTE
                    </div>
                </div>
            </div>
            <br>
            <div>
            <a href ="{%url 'home'%}" class="st-about-button">Regresar</a>
            <br>
            </div>
        </main>
    </div>
</body>