{% extends 'home_index.html' %}
{% load static %}

<!-- Titulo de la página-->
{% block title %}
Piwit - Acerca de Nosotros
{% endblock title %}

{% block content %}
{% block extra_css %}
{% csrf_token %}
<meta name="csrf-token" content="{{ csrf_token }}">
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}
    <div id="page-content">
        <br>
        <main class="st-about-bodyanimation">
            <div class="st-about-cuadrante1">
                <div class="d-flex flex-column justify-content-center align-items-center st-about-title">
                ¿Que es Piwit?
                </div>
                <br>
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <img
                        src="{% static 'images/logos/piwit_logo_v1_125px.png'%}"><br>
                    </img>
                </div>

                <div class="text-center form-control st-about-bgdelete">
                    Piwit es una herramienta de estudio web diseñada  para universitarios y liceanos que padezcan de neurodivergencia. Visualmente<br>
                    atractiva y minimalista.
                </div>
            </div>
            <br>
            <!-- Creditos-->
            <div class="st-about-cuadrante2">
                <div class="d-flex flex-column justify-content-center align-items-center st-about-title">
                    ¿Quienes trabajaron en este proyecto?<br>
                </div>
                <br>
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <img
                        src="{% static 'images/logos/pythoneros_logo_125px.png'%}"><br>
                    </img>
                </div>
                <br>
                <div class="text-center form-control st-about-bgdelete">
                <div class="st-about-creditsheader">
                    Programadores<br>
                </div>
                ISIDORA MONTALVA<br>
                CARLOS MUNDACA<br>
                MARCELO ÓRDENES<br>
                LAURA ORELLANA<br>
                MARTÍN OÑATE<br>
                <br>
                <div class="st-about-creditsheader">
                    Asistencia Técnica<br>
                </div>
                MAXIMILIANO OSORIO<br>
                <br>
                <div class="st-about-creditsheader">
                    Supervisores<br>
                </div>
                IGNACIA 'NACHA' NEATTLE<br>
                NICOLAS CHEHADE<br>
                KARINA ALIAGA<br>
                <br>
                <div class="st-about-creditsheader">
                    Supervisor Lider<br>
                </div>
                VICTOR GUTIERREZ<br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="st-about-creditsheader">
                    "Natural Ocean Waves, Water Droplets & Bubbly Sounds"<br>
                </div>
                Cortesía de DudeAwesome<br>
                https://freesound.org/s/386454/<br>
                Licensia: Attribution 4.0<br>
                via freesound.org<br>
                <br>
                <div class="st-about-creditsheader">
                    "AMBIENT - Rain - On Pavement (LOOP)"<br>
                </div>
                Cortesía de Arctura<br>
                https://freesound.org/s/34069/<br>
                Licensia: Attribution 3.0<br>
                via. freesound.org<br>
                <br>
                <div class="st-about-creditsheader">
                    "Voyager Plasma Wave Data"<br>
                </div>
                Audios de las misiones Voyager (1979-1989)<br>
                Cortesía de NASA y JPL-Caltech<br>
                https://voyager.jpl.nasa.gov/<br>
                Dominio Público<br>
                <br>
                <div class="st-about-creditsheader">
                    Software<br>
                </div>
                <div class="st-about-creditsheader">
                    Edición de audio<br>
                </div>
                VEGAS PRO 15.0<br>
                AUDACITY<br>
                HANDBRAKE<br>
                <br>
                <div class="st-about-creditsheader">
                    Ilustraciones<br>
                </div>
                ADOBE PHOTOSHOP CC 2020<br>
                PAINT.NET<br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                Copyright Disclaimer under section 107 of the Copyright Act 1976, allowance is made for “fair use”<br>
                for purposes such as criticism, comment. Fair use is a use permitted by copyright statute that might<br>
                otherwise be infringing. Non-profit, educational or personal use tips the balance in favor of fair use.<br>
                <br>
                Universidad Tecnica Federico Santa Maria (C) MMXXV - Todos los derechos reservados.<br>
                Pythoneros LLC
            </div>
            </div>
        </main>

        <div class="buttons d-flex flex-column justify-content-center align-items-center">
            <br>
            <button class="btn btn-primary w-10"
            aria-current="page"
            hx-get="{%url 'home'%}"
            hx-target="#main-content"
            hx-select="#page-content"
            hx-swap="morphdom"
            hx-push-url="true">
            Regresar</button>
            <br>
        </div>
    </div>
{% endblock %}