{% extends 'home_index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Prueba</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

</html>

<!-- Titulo de la página-->
{% block title %}
Piwit - Home
{% endblock title %}

{% block content %}
<div id="page-content">
    <div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="mt-4 mb-4">¡Bienvenido a PIWIT!</h1>
    </div>

        <!-- CUADRANTES
            <div>
                <a href="{%url 'profile'%}" class="button">CUADRANTE 1</a>
                <a href="{%url 'about'%}" class="button">CUADRANTE 2</a><br>
                <a href="{%url 'schedule'%}" class="button">CUADRANTE 3</a>
                <a href="{%url 'iniciar_pomodoro'%}" class="button">CUADRANTE 4</a>
            </div>
        -->

        <!-- CUADRANTES OPCION 2 
        <body>
          <a href="{%url 'profile'%}">
            <button> SELECCIONAR 1</button>
          </a>
          <a href="{%url 'about'%}">
            <button> SELECCIONAR 2</button>
          </a>
          <a href="{%url 'schedule'%}">
            <button> SELECCIONAR 3</button>
          </a>
          <a href="{%url 'iniciar_pomodoro'%}">
            <button> SELECCIONAR </button>
          </a>
        </body> -->

        <!-- CUADRANTES OPCION 3 FUNCIONAL-->
        <div class="cuadrantes">
          <div class="cuadro cuadro1"><button> SELECCIONAR 1 </button></div>
          <div class="cuadro cuadro2"><button> SELECCIONAR 2 </button></div>
          <div class="cuadro cuadro3"><button> SELECCIONAR 3 </button></div>
          <div class="cuadro cuadro4"><button> SELECCIONAR 4 </button></div> 
        </div>

        <div class="SELECCIONAR">
          <p>SELECCIONAR<span>></span></p>
          <ul>
            <li><a href="{%url 'profile'%}"></a></li>
            <li><a href="{%url 'about'%}"></a></li>
          </ul>
        </div>

    


        <!-- Pomodoro/Test, NOTA PARA MARTIN: Este boton podrias usar para poder testear el pomodoro-->
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h4>POMODORO</h4>
            Pausar:
            <form action="{% url 'iniciar_pomodoro' %}" method="post">
            {% csrf_token %}
            <button type="submit">▶ / ⏹iniciar Pomodoro()</button>
        </div>
<br>
<br>
<br>
<br>
<br>
PIWIT Alpha v.1.0.8   1-11-2025 - (C) MMXXV Todos los derechos reservados, PYTHONEROS DEVELOPING TEAM LLC. // U.T.F.S.M Departamento de Informatica<br>
REDISTRIBUTION FORBIDDEN<br>
</div>
{% endblock %}
<!--
Violeta: #d5cefa
Azul: #b5d9fd
Amarillo: #fcfecf
Morado: #412964
-->