{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Titulo de la página-->
<h1>Bienvenido a PIWIT</h1>

<html>
    <body>

        <div>
            <h1><a href="/">LOGO</a></h1>
        </div>
<!-- Boton del perfil-->
        <div>
            <p>Personaliza a tu manera!</p>
            <h2><a href="{%url 'profile'%}" class="button">Perfil</a></h2>
            <p>[TEXT PLACEHOLDER]</p>
        </div>

        <div>
            <p>Pomodoro</p>
            <h3></a></h3>

            <h4><a href="">Música</a></h4>
            <p>[TEXT PLACEHOLDER]</p>
        </div>
    </body>
</html>


{% endblock %}