{% extends 'home_index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Prueba</title>
  <link rel="stylesheet" href="{% static 'Main/css/home.css' %}">
</head>
<body>
  <ul>
    <li><a class="boton" href="{% url 'profile' %}">CUADRANTE 1</a></li>
    <li><a class="boton" href="{% url 'about' %}">CUADRANTE 2</a></li>
    <li><a class="boton" href="{% url 'schedule' %}">CUADRANTE 3</a></li>
    <li><a class="boton" href="{% url 'iniciar_pomodoro' %}">CUADRANTE 4</a></li>
  </ul>
</body>
</html>

<!-- Titulo de la página-->
{% block title %}
Piwit - Home
{% endblock title %}

{% block content %}
<div id="page-content">
    <div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="mt-4 mb-4">¡Bienvenido a PIWIT!</h1>
    </div>

        <!-- CUADRANTES
            <div>
                <a href="{%url 'profile'%}" class="button">CUADRANTE 1</a>
                <a href="{%url 'about'%}" class="button">CUADRANTE 2</a><br>
                <a href="{%url 'schedule'%}" class="button">CUADRANTE 3</a>
                <a href="{%url 'iniciar_pomodoro'%}" class="button">CUADRANTE 4</a>
            </div>
        -->

        <!-- CUADRANTES OPCION 2 -->
        <ul>
            <li><a class="boton" href="{%url 'profile'%}">CUADRANTE 1</a></li>
            <li><a class="boton" href="{%url 'about'%}">CUADRANTE 2</a></li>
            <li><a class="boton" href="{%url 'schedule'%}">CUADRANTE 3</a></li>
            <li><a class="boton" href="{%url 'iniciar_pomodoro'%}" >CUADRANTE 4</a></li>
        </ul>


        <!-- Pomodoro/Test, NOTA PARA MARTIN: Este boton podrias usar para poder testear el pomodoro-->
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h4>POMODORO</h4>
            Pausar:
            <form action="{% url 'iniciar_pomodoro' %}" method="post">
            {% csrf_token %}
            <button type="submit">▶ / ⏹iniciar Pomodoro()</button>
        </div>
<br>
<br>
<br>
<br>
<br>
PIWIT Alpha v.1.0.7   1-11-2025 - (C) MMXXV Todos los derechos reservados, PYTHONEROS LLC. // U.T.F.S.M Departamento de Informatica<br>
REDISTRIBUTION FORBIDDEN<br>
</div>
{% endblock %}
<!--
Violeta: #d5cefa
Azul: #b5d9fd
Amarillo: #fcfecf
Morado: #412964
-->