{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/notes.css' %}">
    <!--TITULO-->
    <title>{% block title %} Horario {% endblock title %}</title>
</head>
<style>
    body {
        background-color: transparent !important;
    }
</style>
<body>
    <form method="POST">
        {% csrf_token %}
        <textarea type=text name="user_note" rows="15" cols="80" class="st-notes-input">{{ note.user_notes|default_if_none:"" }}</textarea><br>
        <br>
        <button class="st-notes-savebutton" type="submit">Guardar cambios</button>
    </form>
</body>
</html>