<!--NOTA:
En este html crea una pagina con botones que estan llegar y copypastear de los templates de
Users y Main, te recomiendo que crees botones basicos para llenar campos, luego necesitare que
me hables para poder asociar una tabla de la base de datos a cada usuario (que es una pura linea
de comandos), con eso listo, veremos como exhibirlos en un URL cualquiera y finalmente crearemos
el coso final.)-->
<div id="pomodoroControl" class="d-flex flex-column justify-content-center align-items-center">
</div>
