{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/journal.css' %}">
    <!--TITULO-->
    <title>{% block title %} Horario {% endblock title %}</title>
</head>
<style>
    body {
        background-color: transparent !important;
    }
</style>
<body>
    <form method="POST">
        {% csrf_token %}
        <div class="st-journal-animation">
        <table width="100%">
            <tr>
                <th class="st-journal-header">HORA</th>
                <th class="st-journal-header">Lunes</th>
                <th class="st-journal-header">Martes</th>
                <th class="st-journal-header">Miércoles</th>
                <th class="st-journal-header">Jueves</th>
                <th class="st-journal-header">Viernes</th>
                <th class="st-journal-header">Sabado</th>
                <th class="st-journal-header">Domingo</th>
            </tr>

            {% for row in schedule_table %}
            <tr>
                <th><a class="st-journal-input">{{ row.time }}</a></th>
                <th><input type="text" name="MON-{{ row.time }}" value="{{ row.MON }}" class="st-journal-input"></th>
                <th><input type="text" name="TUE-{{ row.time }}" value="{{ row.TUE }}" class="st-journal-input"></th>
                <th><input type="text" name="WED-{{ row.time }}" value="{{ row.WED }}" class="st-journal-input"></th>
                <th><input type="text" name="THU-{{ row.time }}" value="{{ row.THU }}" class="st-journal-input"></th>
                <th><input type="text" name="FRI-{{ row.time }}" value="{{ row.FRI }}" class="st-journal-input"></th>
                <th><input type="text" name="SAT-{{ row.time }}" value="{{ row.SAT }}" class="st-journal-input"></th>
                <th><input type="text" name="SUN-{{ row.time }}" value="{{ row.SUN }}" class="st-journal-input"></th>
            </tr>
            {% endfor %}
        </table>
        </div>
        <button class="st-journal-savebutton" type="submit">Guardar cambios</button>
    </form>
</body>
</html>