<!DOCTYPE html>
<html Lang="en">
    <!-- Esto originalmente estaba en en, por si acaso-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <!--TITULO-->
</head>

<body>
    <main>
    {% if messages %}
        <ul class = "messages">
            {% for message in messages %}
                <li {% if messages.tags %} class ="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %}

    {% endblock %}
    </main>
</body>
</html>