{% extends 'home_index.html' %}
{% load static %}

<!-- Titulo de la página-->
{% block title %}
Piwit - Eliminación de Usuario
{% endblock title %}

{% block content %}
<div id="page-content">
    {% if messages %}
        <ul class = "messages">
            {% for message in messages %}
                <li {% if messages.tags %} class ="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <style>
        .st-deleteacc-bodyanimation{
            animation: fadeIn 0.8s ease forwards;
            transition: background-color 0.6s ease, color 0.6s ease;
        }

        @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
        }
    </style>
    <div class="d-flex flex-column justify-content-center align-items-center st-deleteacc-bodyanimation">
    Usted esta a punto de eliminar su cuenta de forma permanente y defintiva, todos sus datos se perderan.<br> 
    ¿Esta seguro que desea continuar?<br>
    </div>

    <br> 

    <div class="d-flex flex-column justify-content-center align-items-center st-deleteacc-bodyanimation">
        <form method="POST" action ="{%url 'deleteacc' %}">
            {% csrf_token %}
        <!--Input de contraseña-->
            <input type="password" name="password" placeholder="Contraseña" required>
            <br>
            <br>
        <!--Input de contraseña (Confirmar)-->
            <input type="password" name="password2" placeholder="Confirmar Contraseña" required>
            <br>
            <br>
            <br>
            <br>
            <button class="st-deleteacc-button-delete" type="submit">Si, eliminar mi cuenta</button><br>
            <br>
            <button class="st-deleteacc-button-goback"
                aria-current="page"
                hx-get="{%url 'profile'%}"
                hx-target="#main-content"
                hx-select="#page-content"
                hx-swap="morphdom"
                hx-push-url="true">
                No, regresar a Perfil
            </button>
        </form>
    </div>
</div>
{% endblock %}
</html>