<!DOCTYPE html>
<html Lang="en">
    <!-- Esto originalmente estaba en en, por si acaso-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>{% block title %} Perfil {% endblock %}</title>
    <!--TITULO-->
</head>

<body>
    <main>
    {% block content %}

    {% endblock %}
    <!--Contraseña-->
    </main>
<!--Este codigo de boton funciona a la perfeccion-->
    <div class="buttons">
        <br>
        <a href ="{%url 'logout'%}" class="button">Cerrar Sesión</a>
        <br>
    </div>
</body>
</html>