/*Voy a poner este mensaje aqui, en caso de usar los css, NO REESCRIBIR CLASES HECHAS POR CSS POR QUE GENERAN BUGS*/
/*Preocuparse de no escribir 2 clases con el mismo nombre, siempre tener un nombre distinto para cada cosa. Por eso, aca va una
una nomenclatura para las clases que se programan: "st-(nombre de html que se aplicara, en caso de ser un index, colocar al final idx)-parte del html"
Ejemplo: "st-homeidx-body", "st-about-body", "st-about-title"*/

/*TODAVIA ESTA PENDIENTE TENER DISTINTO ESTILO DE LETRA PARA CADA COSA*/

/* TIPO DE LETRA */
@font-face {
	font-family: 'Sansita';
	src: url('static/fonts/Sansita/Sansita-Light.eot');
	src: url('static/fonts/Sansita/Sansita-Light.eot?#iefix') format('embedded-opentype'),
		 url('static/fonts/Sansita/Sansita-Light.woff2') format('woff2'),
		 url('static/fonts/Sansita/Sansita-Light.woff') format('woff'),
		 url('static/fonts/Sansita/Sansita-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'Sansita';
	src: url('static/fonts/Sansita/Sansita-LightItalic.eot');
	src: url('static/fonts/Sansita/Sansita-LightItalic.eot?#iefix') format('embedded-opentype'),
		 url('static/fonts/Sansita/Sansita-LightItalic.woff2') format('woff2'),
		 url('static/fonts/Sansita/Sansita-LightItalic.woff') format('woff'),
		 url('static/fonts/Sansita/Sansita-LightItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 300;
}
@font-face {
	font-family: 'Sansita';
	src: url('static/fonts/Sansita/Sansita-Regular.eot');
	src: url('static/fonts/Sansita/Sansita-Regular.eot?#iefix') format('embedded-opentype'),
		 url('static/fonts/Sansita/Sansita-Regular.woff2') format('woff2'),
		 url('static/fonts/Sansita/Sansita-Regular.woff') format('woff'),
		 url('static/fonts/Sansita/Sansita-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Sansita';
	src: url('static/fonts/Sansita/Sansita-Italic.eot');
	src: url('static/fonts/Sansita/Sansita-Italic.eot?#iefix') format('embedded-opentype'),
		 url('static/fonts/Sansita/Sansita-Italic.woff2') format('woff2'),
		 url('static/fonts/Sansita/Sansita-Italic.woff') format('woff'),
		 url('static/fonts/Sansita/Sansita-Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: 400;
}
@font-face {
	font-family: 'Sansita';
	src: url('static/fonts/Sansita/Sansita-Medium.eot');
	src: url('static/fonts/Sansita/Sansita-Medium.eot?#iefix') format('embedded-opentype'),
		 url('static/fonts/Sansita/Sansita-Medium.woff2') format('woff2'),
		 url('static/fonts/Sansita/Sansita-Medium.woff') format('woff'),
		 url('static/fonts/Sansita/Sansita-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'Sansita';
	src: url('static/fonts/Sansita/Sansita-MediumItalic.eot');
	src: url('static/fonts/Sansita/Sansita-MediumItalic.eot?#iefix') format('embedded-opentype'),
		 url('static/fonts/Sansita/Sansita-MediumItalic.woff2') format('woff2'),
		 url('static/fonts/Sansita/Sansita-MediumItalic.woff') format('woff'),
		 url('static/fonts/Sansita/Sansita-MediumItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 500;
}
@font-face {
	font-family: 'Sansita';
	src: url('static/fonts/Sansita/Sansita-Bold.eot');
	src: url('static/fonts/Sansita/Sansita-Bold.eot?#iefix') format('embedded-opentype'),
		 url('static/fonts/Sansita/Sansita-Bold.woff2') format('woff2'),
		 url('static/fonts/Sansita/Sansita-Bold.woff') format('woff'),
		 url('static/fonts/Sansita/Sansita-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'Sansita';
	src: url('static/fonts/Sansita/Sansita-BoldItalic.eot');
	src: url('static/fonts/Sansita/Sansita-BoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('static/fonts/Sansita/Sansita-BoldItalic.woff2') format('woff2'),
		 url('static/fonts/Sansita/Sansita-BoldItalic.woff') format('woff'),
		 url('static/fonts/Sansita/Sansita-BoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 700;
}
@font-face {
	font-family: 'Sansita';
	src: url('static/fonts/Sansita/Sansita-ExtraBold.eot');
	src: url('static/fonts/Sansita/Sansita-ExtraBold.eot?#iefix') format('embedded-opentype'),
		 url('static/fonts/Sansita/Sansita-ExtraBold.woff2') format('woff2'),
		 url('static/fonts/Sansita/Sansita-ExtraBold.woff') format('woff'),
		 url('static/fonts/Sansita/Sansita-ExtraBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 800;
}
@font-face {
	font-family: 'Sansita';
	src: url('static/fonts/Sansita/Sansita-ExtraBoldItalic.eot');
	src: url('static/fonts/Sansita/Sansita-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('static/fonts/Sansita/Sansita-ExtraBoldItalic.woff2') format('woff2'),
		 url('static/fonts/Sansita/Sansita-ExtraBoldItalic.woff') format('woff'),
		 url('static/fonts/Sansita/Sansita-ExtraBoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 800;
}
@font-face {
	font-family: 'Sansita';
	src: url('static/fonts/Sansita/Sansita-Black.eot');
	src: url('static/fonts/Sansita/Sansita-Black.eot?#iefix') format('embedded-opentype'),
		 url('static/fonts/Sansita/Sansita-Black.woff2') format('woff2'),
		 url('static/fonts/Sansita/Sansita-Black.woff') format('woff'),
		 url('static/fonts/Sansita/Sansita-Black.ttf') format('truetype');
	font-style: normal;
	font-weight: 900;
}
@font-face {
	font-family: 'Sansita';
	src: url('static/fonts/Sansita/Sansita-BlackItalic.eot');
	src: url('static/fonts/Sansita/Sansita-BlackItalic.eot?#iefix') format('embedded-opentype'),
		 url('static/fonts/Sansita/Sansita-BlackItalic.woff2') format('woff2'),
		 url('static/fonts/Sansita/Sansita-BlackItalic.woff') format('woff'),
		 url('static/fonts/Sansita/Sansita-BlackItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 900;
}

.st-about-title{
	font-family: 'Sansita';
	font-style: 'normal';
	font-size: 50px;
	font-weight: 900;
}

.st-about-creditsheader{
	font-family: 'Sansita';
	font-style: 'normal';
	font-size: 25px;
	font-weight: 500;
}

.st-about-creditstext{
	font-family: 'Sansita';
	font-style: 'normal';
	font-size: 25px;
	font-weight: 300;
}

.st-about-bgdelete{
    border: none;
    background-color: transparent !important;
    box-shadow: none;
    outline: none;
}

.st-about-cuadrante1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 500px;
    height: 400px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    position: relative;
    background-color: white;
    margin: 0 auto;
	animation: fadeIn 0.8s ease forwards;
  	transition: background-color 0.6s ease, color 0.6s ease;
}

.st-about-cuadrante2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 800px;
    height: 2500px; 
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    position: relative;
    background-color: white;
    margin: 0 auto;
	animation: fadeIn 0.8s ease forwards;
  	transition: background-color 0.6s ease, color 0.6s ease;
}

/* Animación al cargar la página */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
