/* Fondo */
@font-face {
	font-family: 'Sansita';
	src: url('/static/fonts/Sansita/Sansita-Light.eot');
	src: url('/static/fonts/Sansita/Sansita-Light.eot?#iefix') format('embedded-opentype'),
		 url('/static/fonts/Sansita/Sansita-Light.woff2') format('woff2'),
		 url('/static/fonts/Sansita/Sansita-Light.woff') format('woff'),
		 url('/static/fonts/Sansita/Sansita-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'Sansita';
	src: url('/static/fonts/Sansita/Sansita-LightItalic.eot');
	src: url('/static/fonts/Sansita/Sansita-LightItalic.eot?#iefix') format('embedded-opentype'),
		 url('/static/fonts/Sansita/Sansita-LightItalic.woff2') format('woff2'),
		 url('/static/fonts/Sansita/Sansita-LightItalic.woff') format('woff'),
		 url('/static/fonts/Sansita/Sansita-LightItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 300;
}
@font-face {
	font-family: 'Sansita';
	src: url('/static/fonts/Sansita/Sansita-Regular.eot');
	src: url('/static/fonts/Sansita/Sansita-Regular.eot?#iefix') format('embedded-opentype'),
		 url('/static/fonts/Sansita/Sansita-Regular.woff2') format('woff2'),
		 url('/static/fonts/Sansita/Sansita-Regular.woff') format('woff'),
		 url('/static/fonts/Sansita/Sansita-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Sansita';
	src: url('/static/fonts/Sansita/Sansita-Italic.eot');
	src: url('/static/fonts/Sansita/Sansita-Italic.eot?#iefix') format('embedded-opentype'),
		 url('/static/fonts/Sansita/Sansita-Italic.woff2') format('woff2'),
		 url('/static/fonts/Sansita/Sansita-Italic.woff') format('woff'),
		 url('/static/fonts/Sansita/Sansita-Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: 400;
}
@font-face {
	font-family: 'Sansita';
	src: url('/static/fonts/Sansita/Sansita-Medium.eot');
	src: url('/static/fonts/Sansita/Sansita-Medium.eot?#iefix') format('embedded-opentype'),
		 url('/static/fonts/Sansita/Sansita-Medium.woff2') format('woff2'),
		 url('/static/fonts/Sansita/Sansita-Medium.woff') format('woff'),
		 url('/static/fonts/Sansita/Sansita-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'Sansita';
	src: url('/static/fonts/Sansita/Sansita-MediumItalic.eot');
	src: url('/static/fonts/Sansita/Sansita-MediumItalic.eot?#iefix') format('embedded-opentype'),
		 url('/static/fonts/Sansita/Sansita-MediumItalic.woff2') format('woff2'),
		 url('/static/fonts/Sansita/Sansita-MediumItalic.woff') format('woff'),
		 url('/static/fonts/Sansita/Sansita-MediumItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 500;
}
@font-face {
	font-family: 'Sansita';
	src: url('/static/fonts/Sansita/Sansita-Bold.eot');
	src: url('/static/fonts/Sansita/Sansita-Bold.eot?#iefix') format('embedded-opentype'),
		 url('/static/fonts/Sansita/Sansita-Bold.woff2') format('woff2'),
		 url('/static/fonts/Sansita/Sansita-Bold.woff') format('woff'),
		 url('/static/fonts/Sansita/Sansita-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'Sansita';
	src: url('/static/fonts/Sansita/Sansita-BoldItalic.eot');
	src: url('/static/fonts/Sansita/Sansita-BoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('/static/fonts/Sansita/Sansita-BoldItalic.woff2') format('woff2'),
		 url('/static/fonts/Sansita/Sansita-BoldItalic.woff') format('woff'),
		 url('/static/fonts/Sansita/Sansita-BoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 700;
}
@font-face {
	font-family: 'Sansita';
	src: url('/static/fonts/Sansita/Sansita-ExtraBold.eot');
	src: url('/static/fonts/Sansita/Sansita-ExtraBold.eot?#iefix') format('embedded-opentype'),
		 url('/static/fonts/Sansita/Sansita-ExtraBold.woff2') format('woff2'),
		 url('/static/fonts/Sansita/Sansita-ExtraBold.woff') format('woff'),
		 url('/static/fonts/Sansita/Sansita-ExtraBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 800;
}
@font-face {
	font-family: 'Sansita';
	src: url('/static/fonts/Sansita/Sansita-ExtraBoldItalic.eot');
	src: url('/static/fonts/Sansita/Sansita-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('/static/fonts/Sansita/Sansita-ExtraBoldItalic.woff2') format('woff2'),
		 url('/static/fonts/Sansita/Sansita-ExtraBoldItalic.woff') format('woff'),
		 url('/static/fonts/Sansita/Sansita-ExtraBoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 800;
}
@font-face {
	font-family: 'Sansita';
	src: url('/static/fonts/Sansita/Sansita-Black.eot');
	src: url('/static/fonts/Sansita/Sansita-Black.eot?#iefix') format('embedded-opentype'),
		 url('/static/fonts/Sansita/Sansita-Black.woff2') format('woff2'),
		 url('/static/fonts/Sansita/Sansita-Black.woff') format('woff'),
		 url('/static/fonts/Sansita/Sansita-Black.ttf') format('truetype');
	font-style: normal;
	font-weight: 900;
}
@font-face {
	font-family: 'Sansita';
	src: url('/static/fonts/Sansita/Sansita-BlackItalic.eot');
	src: url('/static/fonts/Sansita/Sansita-BlackItalic.eot?#iefix') format('embedded-opentype'),
		 url('/static/fonts/Sansita/Sansita-BlackItalic.woff2') format('woff2'),
		 url('/static/fonts/Sansita/Sansita-BlackItalic.woff') format('woff'),
		 url('/static/fonts/Sansita/Sansita-BlackItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 900;
}

:root {
    --violeta: #d5cefa;
    --naranjo: #ffce8d;
    --azul: #b5d9fd;
    --amarillo: #fcfecf;
    --text: #412964;
    --white: #fff;
    --border: #412964;
}

/* ESTILO PÁGINA*/

body {
    font-family: 'Sansita';
    background: var(--violeta);
    color: var(--text);
    margin: 0;
    padding: 40px;
    text-align: center;
}

/* TÍTULO*/

h1 {
    font-size: 28px;
    color: var(--text); /* ← Cambia color del título */
    margin-bottom: 25px;
}

/* FORMULARIO DE SUBID*/

form {
    margin-bottom: 20px;
}

/* Input del archivo */
input[type="file"] {
    font-family: 'Sansita';
    padding: 6px;
    border-radius: 10px;
    border: 1px solid var(--border);
    background: var(--amarillo);
    cursor: pointer;
    margin-right: 10px;
}

/* Botón principal */
button {
    font-family: 'Sansita';
    padding: 10px 18px;
    border: 1px solid var(--border);
    border-radius: 12px; 
    background-color: var(--azul);
    color: var(--text);
}

/* Botón hover */
button:hover {
    background-color: var(--violeta2);
}

/* TABLA*/

table {
    font-family: 'Sansita';
    margin: 0 auto;
    width: 50%;
    border-collapse: 1px solid var(--border);
    background: var(--amarillo);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 25px;
}

th {
    background: var(--azul);
    color: var(--text);
    padding: 12px;
    text-align: center;
}

td {
    padding: 12px;
    border-bottom: 1px solid var(--border);
    text-align: center;
}

/* Hover de las filas */
tr:hover {
    background: var(--naranjo);
}

/* LINKS*/

a {
    color: var(--text); /* ← Color de los links */
    font-weight: 600;
    text-decoration: none;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

.st-driveindex-button-logout{
    font-family: 'Sansita';
    padding: 10px 18px;
    border: 1px solid var(--border);
    border-radius: 12px; 
    background-color: var(--azul);
    color: var(--text);
}

.st-driveindex-button-logout:hover{
    background-color: var(--violeta2);
}