/* PORSIACASO 
h2  a, h2  a  {color: hsl(297, 76%, 77%);
}  */
li {
  display: flex;
  justify-content: space-evenly;
}

.boton {
  text-decoration: none;
  font-size: 12px;
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
}


/* CUADRANTES */
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    
.div1 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.div2 {
    grid-column-start: 3;
    grid-row-start: 2;
}

.div3 {
    grid-column-start: 2;
    grid-row-start: 3;
}

.div4 {
    grid-column-start: 3;
    grid-row-start: 3;
}
