/* TIPO DE LETRA */
@font-face {
	font-family: 'Sansita';
	src: url('fonts/Sansita/Sansita-Light.eot');
	src: url('fonts/Sansita/Sansita-Light.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Sansita/Sansita-Light.woff2') format('woff2'),
		 url('fonts/Sansita/Sansita-Light.woff') format('woff'),
		 url('fonts/Sansita/Sansita-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
/* Se supone que anima para irse de pagina en pagina */
html{
    scroll-behavior: smooth;
}

/* CUADRANTES */
body {
  margin: 0;
  height: 100vh;
  transition: background 0.3s, color 0.3s;
}

.contenedor {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.cuadrante {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  transition: background 0.3s;
}

/* TEMA 1  */
.tema-1 body, 
.tema-1 {
  background-color: #0d6efd;
  color: white;
}

.tema-1 .navbar {
  background-color: #0d6efd !important;
}

.tema-1 .cuadrante1 { background-color: #0d6efd; }
.tema-1 .cuadrante2 { background-color: #6610f2; }
.tema-1 .cuadrante3 { background-color: #20c997; }
.tema-1 .cuadrante4 { background-color: #0dcaf0; }

/* TEMA 2  */
.tema-2 body,
.tema-2 {
  background-color: #e83e8c;
  color: white;
}

.tema-2 .navbar {
  background-color: #d63384 !important;
}

.tema-2 .cuadrante1 { background-color: #e83e8c; }
.tema-2 .cuadrante2 { background-color: #d63384; }
.tema-2 .cuadrante3 { background-color: #ffb6c1; color: #6c0a35; }
.tema-2 .cuadrante4 { background-color: #f06292; }

/* TEMA 3  */
.tema-3 body,
.tema-3 {
  background-color: #198754;
  color: white;
}

.tema-3 .navbar {
  background-color: #198754 !important;
}

.tema-3 .cuadrante1 { background-color: #198754; }
.tema-3 .cuadrante2 { background-color: #28a745; }
.tema-3 .cuadrante3 { background-color: #20c997; }
.tema-3 .cuadrante4 { background-color: #d4edda; }

/* TEMA 4  */
.tema-4 body,
.tema-4 {
  background-color: #ffcc00;
  color: #2f2f2f;
}

.tema-4 .navbar {
  background-color: #993300 !important;
}

.tema-4 .cuadrante1 { background-color: #ffcc00; color: #2f2f2f; }
.tema-4 .cuadrante2 { background-color: #ff6600; }
.tema-4 .cuadrante3 { background-color: #cc3300; }
.tema-4 .cuadrante4 { background-color: #993300; }




















        