/* TIPO DE LETRA */
@font-face {
	font-family: 'Sansita';
	src: url('fonts/Sansita/Sansita-Light.eot');
	src: url('fonts/Sansita/Sansita-Light.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Sansita/Sansita-Light.woff2') format('woff2'),
		 url('fonts/Sansita/Sansita-Light.woff') format('woff'),
		 url('fonts/Sansita/Sansita-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'Sansita';
	src: url('fonts/Sansita/Sansita-LightItalic.eot');
	src: url('fonts/Sansita/Sansita-LightItalic.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Sansita/Sansita-LightItalic.woff2') format('woff2'),
		 url('fonts/Sansita/Sansita-LightItalic.woff') format('woff'),
		 url('fonts/Sansita/Sansita-LightItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 300;
}
@font-face {
	font-family: 'Sansita';
	src: url('fonts/Sansita/Sansita-Regular.eot');
	src: url('fonts/Sansita/Sansita-Regular.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Sansita/Sansita-Regular.woff2') format('woff2'),
		 url('fonts/Sansita/Sansita-Regular.woff') format('woff'),
		 url('fonts/Sansita/Sansita-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Sansita';
	src: url('fonts/Sansita/Sansita-Italic.eot');
	src: url('fonts/Sansita/Sansita-Italic.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Sansita/Sansita-Italic.woff2') format('woff2'),
		 url('fonts/Sansita/Sansita-Italic.woff') format('woff'),
		 url('fonts/Sansita/Sansita-Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: 400;
}
@font-face {
	font-family: 'Sansita';
	src: url('fonts/Sansita/Sansita-Medium.eot');
	src: url('fonts/Sansita/Sansita-Medium.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Sansita/Sansita-Medium.woff2') format('woff2'),
		 url('fonts/Sansita/Sansita-Medium.woff') format('woff'),
		 url('fonts/Sansita/Sansita-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'Sansita';
	src: url('fonts/Sansita/Sansita-MediumItalic.eot');
	src: url('fonts/Sansita/Sansita-MediumItalic.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Sansita/Sansita-MediumItalic.woff2') format('woff2'),
		 url('fonts/Sansita/Sansita-MediumItalic.woff') format('woff'),
		 url('fonts/Sansita/Sansita-MediumItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 500;
}
@font-face {
	font-family: 'Sansita';
	src: url('fonts/Sansita/Sansita-Bold.eot');
	src: url('fonts/Sansita/Sansita-Bold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Sansita/Sansita-Bold.woff2') format('woff2'),
		 url('fonts/Sansita/Sansita-Bold.woff') format('woff'),
		 url('fonts/Sansita/Sansita-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'Sansita';
	src: url('fonts/Sansita/Sansita-BoldItalic.eot');
	src: url('fonts/Sansita/Sansita-BoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Sansita/Sansita-BoldItalic.woff2') format('woff2'),
		 url('fonts/Sansita/Sansita-BoldItalic.woff') format('woff'),
		 url('fonts/Sansita/Sansita-BoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 700;
}
@font-face {
	font-family: 'Sansita';
	src: url('fonts/Sansita/Sansita-ExtraBold.eot');
	src: url('fonts/Sansita/Sansita-ExtraBold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Sansita/Sansita-ExtraBold.woff2') format('woff2'),
		 url('fonts/Sansita/Sansita-ExtraBold.woff') format('woff'),
		 url('fonts/Sansita/Sansita-ExtraBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 800;
}
@font-face {
	font-family: 'Sansita';
	src: url('fonts/Sansita/Sansita-ExtraBoldItalic.eot');
	src: url('fonts/Sansita/Sansita-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Sansita/Sansita-ExtraBoldItalic.woff2') format('woff2'),
		 url('fonts/Sansita/Sansita-ExtraBoldItalic.woff') format('woff'),
		 url('fonts/Sansita/Sansita-ExtraBoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 800;
}
@font-face {
	font-family: 'Sansita';
	src: url('fonts/Sansita/Sansita-Black.eot');
	src: url('fonts/Sansita/Sansita-Black.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Sansita/Sansita-Black.woff2') format('woff2'),
		 url('fonts/Sansita/Sansita-Black.woff') format('woff'),
		 url('fonts/Sansita/Sansita-Black.ttf') format('truetype');
	font-style: normal;
	font-weight: 900;
}
@font-face {
	font-family: 'Sansita';
	src: url('fonts/Sansita/Sansita-BlackItalic.eot');
	src: url('fonts/Sansita/Sansita-BlackItalic.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Sansita/Sansita-BlackItalic.woff2') format('woff2'),
		 url('fonts/Sansita/Sansita-BlackItalic.woff') format('woff'),
		 url('fonts/Sansita/Sansita-BlackItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 900;
}


/* CORRECCIONES (!!!!) */
/* CUADRANTES */
body {
  margin: 0;
  height: 100vh;
  transition: background 0.3s, color 0.3s;

  font-family: 'Sansita';
  font-style: 'normal';
}

.contenedor {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  font-family: 'Sansita';
  font-style: 'normal';
}

.cuadrante {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  transition: background 0.3s;

  font-family: 'Sansita';
  font-style: 'normal';
}

.pomodoro-btn {
    background-color: #fcfecf; /* color de fondo */
 	color: #412964;               /* color del texto, negro para contraste */
	border: 1px solid #ccc;    /* opcional: borde suave */
	padding: 0.25rem 0.5rem;   /* ajusta tamaño */
	font-size: 0.8rem;         /* tamaño del texto */
}

/* TEMA 1  */
.tema-1 body, 
.tema-1 {
  background-color: #d5cefa;
  color: black;
}
  /*BARRA DE NAVEGACION*/
.tema-1 .navbar {
  background-color: #beb6e8!important; 
}
.tema-1 .navbar .nav-link,
.tema-1 .navbar .dropdown-toggle,
.tema-1 .navbar .navbar-brand,
.tema-1 .navbar .btn {
  color: #2f2f2f !important; /* gris oscuro para contraste */
}

.tema-1 .navbar .nav-link:hover,
.tema-1 .navbar .dropdown-toggle:hover,
.tema-1 .navbar .btn:hover {
  color: #000 !important;
}

  /*CUADRANTES*/
.tema-1 .cuadrante1 { background-color: #fcfecf; color: black}
.tema-1 .cuadrante2 { background-color: #b5d9fd; color: black}
.tema-1 .cuadrante3 { background-color: #b5d9fd; color: black}
.tema-1 .cuadrante4 { background-color: #fcfecf; color: black}



/* TEMA 2  */
.tema-2 body,
.tema-2 {
  background-color: #beb6e8;
  color: black;
}

  /*BARRA DE NAVEGACION*/
.tema-2 .navbar {
  background-color: #beb6e8!important;
}
.tema-2 .navbar .nav-link,
.tema-2 .navbar .dropdown-toggle,
.tema-2 .navbar .navbar-brand,
.tema-2 .navbar .btn {
  color: #2f2f2f !important; /* gris oscuro para contraste */
}

.tema-2 .navbar .nav-link:hover,
.tema-2 .navbar .dropdown-toggle:hover,
.tema-2 .navbar .btn:hover {
  color: #000 !important;
}


.tema-2 .cuadrante1 { background-color: #ffce8d; color: black}
.tema-2 .cuadrante2 { background-color: #ffce8d; color: black}
.tema-2 .cuadrante3 { background-color: #ffce8d; color: black} 
.tema-2 .cuadrante4 { background-color: #ffce8d; color: black}



/* TEMA 3  */
.tema-3 body,
.tema-3 {
  background-color: #b5d9fd;
  color: black;
}

  /*BARRA DE NAVEGACION*/
.tema-3 .navbar {
  background-color: #b5d9fd !important;
}
.tema-3 .navbar .nav-link,
.tema-3 .navbar .dropdown-toggle,
.tema-3 .navbar .navbar-brand,
.tema-3 .navbar .btn {
  color: #2f2f2f !important; /* gris oscuro para contraste */
}

.tema-3 .navbar .nav-link:hover,
.tema-3 .navbar .dropdown-toggle:hover,
.tema-3 .navbar .btn:hover {
  color: #000 !important;
}


.tema-3 .cuadrante1 { background-color: #fcfecf; color: black}
.tema-3 .cuadrante2 { background-color: #beb6e8; color: black}
.tema-3 .cuadrante3 { background-color: #beb6e8; color: black}
.tema-3 .cuadrante4 { background-color: #fcfecf; color: black}



/* TEMA 4  */
.tema-4 body,
.tema-4 {
  background-color: white;
  color: black;
}

  /*BARRA DE NAVEGACION*/
.tema-4 .navbar {
  background-color: #b5d9fd!important;
}
.tema-4 .navbar .nav-link,
.tema-4 .navbar .dropdown-toggle,
.tema-4 .navbar .navbar-brand,
.tema-4 .navbar .btn {
  color: #2f2f2f !important; /* gris oscuro para contraste */
}

.tema-4 .navbar .nav-link:hover,
.tema-4 .navbar .dropdown-toggle:hover,
.tema-4 .navbar .btn:hover {
  color: #000 !important;
}

.tema-4 .cuadrante1 { background-color: #fcfecf; color: black}
.tema-4 .cuadrante2 { background-color: #b5d9fd; color: black}
.tema-4 .cuadrante3 { background-color: #b5d9fd; color: black}
.tema-4 .cuadrante4 { background-color: #fcfecf; color: black}

.dropdown .btn-outline-light,
.dropdown .btn-outline-light:hover,
.dropdown .btn-outline-light:focus,
.dropdown .btn-outline-light:active,
.dropdown.show .btn-outline-light {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: white !important;
}
















        