/* TIPO DE LETRA */
@font-face {
	font-family: 'Sansita';
	src: url('fonts/Sansita/Sansita-Light.eot');
	src: url('fonts/Sansita/Sansita-Light.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Sansita/Sansita-Light.woff2') format('woff2'),
		 url('fonts/Sansita/Sansita-Light.woff') format('woff'),
		 url('fonts/Sansita/Sansita-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
/* Se supone que anima para irse de pagina en pagina */
html{
    scroll-behavior: smooth;
}
/* BACKGROUNDS 
body {
  background-color: #d5cefa; 
  background-color: #b5d9fd;
  background-color: #fcfecf;
  background-color: #412964; 
      } */





/* CUADRANTES */
.cuadrantes {
  display: grid; /* activa grid */
  grid-template-columns: 1fr 1fr; /* 2 columnas iguales */
  grid-template-rows: 1fr 1fr;   /* 2 filas iguales */
  height: 70vh; /* ESPACIO EN PANTALLA*/
}

/* Estilo general de cada cuadrante */
.cuadro {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}
/*
Violeta: #d5cefa
Azul: #b5d9fd
Amarillo: #fcfecf
Morado: #412964
Morado adaptado: #beb6e8
Naranja adaptado: #ffce8d
*/

/* Colores TEMA 1 */
body {
  background-color: #d5cefa;}
.cuadro1 { background: #fcfecf; color: black;}
.cuadro2 { background: #b5d9fd; color: black; }
.cuadro3 { background: #b5d9fd; color: black; }
.cuadro4 { background: #fcfecf; color: black; } 

/* Colores TEMA 2 
body {
  background-color: #d5cefa;}
.cuadro1 { background: #fcfecf; color: black;}
.cuadro2 { background: #d5cefa; color: black; }
.cuadro3 { background: #d5cefa; color: black; }
.cuadro4 { background: #fcfecf; color: black; } */

/* Colores TEMA 3 
body {
  background-color: #b5d9fd;}
.cuadro1 { background: #fcfecf; color: black;}
.cuadro2 { background: #b5d9fd; color: black; }
.cuadro3 { background: #b5d9fd; color: black; }
.cuadro4 { background: #fcfecf; color: black; } */

/* Colores TEMA DALTONISMO  
body {
  background-color: white;}
.cuadro1 { background: #ffce8d; color: black;}
.cuadro2 { background: #ffce8d; color: black; }
.cuadro3 { background: #ffce8d; color: black; }
.cuadro4 { background: #ffce8d; color: black; } */

.cuadrantes {
  position: relative;
}

.cuadrantes::before,
.cuadrantes::after {
  content: "";
  position: absolute;
  background: black;
}

/* Línea vertical */
.cuadrantes::before {
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
}

/* Línea horizontal */
.cuadrantes::after {
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
}

/* INTENTO DE DROPDOWN */
.SELECCIONAR {
	width: max-content;
}
.SELECCIONAR p {
	background-color: white;
	display: flex;
	width: 100px;
	padding: 10px;
	font-size: 25px;
	gap: 10px;
	box-sizing: border-box;
}
.SELECCIONAR p span {
	transform: rotate(90deg);
	font-family: monospace;
}













        