/* Fondo */
@font-face {
	font-family: 'Sansita';
	src: url('/static/fonts/Sansita/Sansita-Light.eot');
	src: url('/static/fonts/Sansita/Sansita-Light.eot?#iefix') format('embedded-opentype'),
		 url('/static/fonts/Sansita/Sansita-Light.woff2') format('woff2'),
		 url('/static/fonts/Sansita/Sansita-Light.woff') format('woff'),
		 url('/static/fonts/Sansita/Sansita-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'Sansita';
	src: url('/static/fonts/Sansita/Sansita-LightItalic.eot');
	src: url('/static/fonts/Sansita/Sansita-LightItalic.eot?#iefix') format('embedded-opentype'),
		 url('/static/fonts/Sansita/Sansita-LightItalic.woff2') format('woff2'),
		 url('/static/fonts/Sansita/Sansita-LightItalic.woff') format('woff'),
		 url('/static/fonts/Sansita/Sansita-LightItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 300;
}
@font-face {
	font-family: 'Sansita';
	src: url('/static/fonts/Sansita/Sansita-Regular.eot');
	src: url('/static/fonts/Sansita/Sansita-Regular.eot?#iefix') format('embedded-opentype'),
		 url('/static/fonts/Sansita/Sansita-Regular.woff2') format('woff2'),
		 url('/static/fonts/Sansita/Sansita-Regular.woff') format('woff'),
		 url('/static/fonts/Sansita/Sansita-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Sansita';
	src: url('/static/fonts/Sansita/Sansita-Italic.eot');
	src: url('/static/fonts/Sansita/Sansita-Italic.eot?#iefix') format('embedded-opentype'),
		 url('/static/fonts/Sansita/Sansita-Italic.woff2') format('woff2'),
		 url('/static/fonts/Sansita/Sansita-Italic.woff') format('woff'),
		 url('/static/fonts/Sansita/Sansita-Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: 400;
}
@font-face {
	font-family: 'Sansita';
	src: url('/static/fonts/Sansita/Sansita-Medium.eot');
	src: url('/static/fonts/Sansita/Sansita-Medium.eot?#iefix') format('embedded-opentype'),
		 url('/static/fonts/Sansita/Sansita-Medium.woff2') format('woff2'),
		 url('/static/fonts/Sansita/Sansita-Medium.woff') format('woff'),
		 url('/static/fonts/Sansita/Sansita-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'Sansita';
	src: url('/static/fonts/Sansita/Sansita-MediumItalic.eot');
	src: url('/static/fonts/Sansita/Sansita-MediumItalic.eot?#iefix') format('embedded-opentype'),
		 url('/static/fonts/Sansita/Sansita-MediumItalic.woff2') format('woff2'),
		 url('/static/fonts/Sansita/Sansita-MediumItalic.woff') format('woff'),
		 url('/static/fonts/Sansita/Sansita-MediumItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 500;
}
@font-face {
	font-family: 'Sansita';
	src: url('/static/fonts/Sansita/Sansita-Bold.eot');
	src: url('/static/fonts/Sansita/Sansita-Bold.eot?#iefix') format('embedded-opentype'),
		 url('/static/fonts/Sansita/Sansita-Bold.woff2') format('woff2'),
		 url('/static/fonts/Sansita/Sansita-Bold.woff') format('woff'),
		 url('/static/fonts/Sansita/Sansita-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'Sansita';
	src: url('/static/fonts/Sansita/Sansita-BoldItalic.eot');
	src: url('/static/fonts/Sansita/Sansita-BoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('/static/fonts/Sansita/Sansita-BoldItalic.woff2') format('woff2'),
		 url('/static/fonts/Sansita/Sansita-BoldItalic.woff') format('woff'),
		 url('/static/fonts/Sansita/Sansita-BoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 700;
}
@font-face {
	font-family: 'Sansita';
	src: url('/static/fonts/Sansita/Sansita-ExtraBold.eot');
	src: url('/static/fonts/Sansita/Sansita-ExtraBold.eot?#iefix') format('embedded-opentype'),
		 url('/static/fonts/Sansita/Sansita-ExtraBold.woff2') format('woff2'),
		 url('/static/fonts/Sansita/Sansita-ExtraBold.woff') format('woff'),
		 url('/static/fonts/Sansita/Sansita-ExtraBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 800;
}
@font-face {
	font-family: 'Sansita';
	src: url('/static/fonts/Sansita/Sansita-ExtraBoldItalic.eot');
	src: url('/static/fonts/Sansita/Sansita-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('/static/fonts/Sansita/Sansita-ExtraBoldItalic.woff2') format('woff2'),
		 url('/static/fonts/Sansita/Sansita-ExtraBoldItalic.woff') format('woff'),
		 url('/static/fonts/Sansita/Sansita-ExtraBoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 800;
}
@font-face {
	font-family: 'Sansita';
	src: url('/static/fonts/Sansita/Sansita-Black.eot');
	src: url('/static/fonts/Sansita/Sansita-Black.eot?#iefix') format('embedded-opentype'),
		 url('/static/fonts/Sansita/Sansita-Black.woff2') format('woff2'),
		 url('/static/fonts/Sansita/Sansita-Black.woff') format('woff'),
		 url('/static/fonts/Sansita/Sansita-Black.ttf') format('truetype');
	font-style: normal;
	font-weight: 900;
}
@font-face {
	font-family: 'Sansita';
	src: url('/static/fonts/Sansita/Sansita-BlackItalic.eot');
	src: url('/static/fonts/Sansita/Sansita-BlackItalic.eot?#iefix') format('embedded-opentype'),
		 url('/static/fonts/Sansita/Sansita-BlackItalic.woff2') format('woff2'),
		 url('/static/fonts/Sansita/Sansita-BlackItalic.woff') format('woff'),
		 url('/static/fonts/Sansita/Sansita-BlackItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 900;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Fondo */
.login_pagina {
    background-color: #d8c8f0; /* Lila pastel */
    min-height: 89vh;
    padding: 40px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cuadrante amarillo  */
.login_cuadrante {
    background-color: #f7f5c9; /* Amarillo pastel */
    width: 60%;
    max-width: 500px;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
	animation: fadeIn 0.8s ease forwards;
}

/* Logo */
/*
.login_logo {
    width: 180px;
    margin-bottom: 10px;
}
*/

/* Título (iniciar sesión) */
.login_title {
    font-family: 'Sansita';
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 20px;
}

/* Inputs (Usuario, Contraseña) */
.login_input {
    font-family: 'Sansita';
    width: 80%;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    margin-bottom: 20px;
    background-color: #c7dcff; /* Azul pastel */
    font-size: 16px;
    outline: none;
    text-align: center;
    font-weight: bold;
}

/* Botón Acceder */
.login_acceder_button {
    font-family: 'Sansita';
    width: 60%;
    padding: 10px;
    background-color: #c7a8ff; /* Morado pastel */
    border: none;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}

.login_acceder_button:hover {
    background-color: #b18aff;
}

/* Texto de registro */
.login_register_text {
    font-family: 'Sansita';
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
}

/* Botón registrarse */
.register_button {
    font-family: 'Sansita';
    display: inline-block;
    background-color: #c7a8ff;
    padding: 10px 20px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.register_button:hover {
    background-color: #b18aff;
    color: black;
}

/* Enlace acerca de nosotros 
.about_link {
    font-size: 16px;
    text-decoration: underline;
    color: #3a2f52;
}

.about_link:hover {
    text-decoration: none;
    color: #1e1933;
} */
