/* Fondo */
.login_pagina {
    background-color: #d8c8f0; /* Lila pastel */
    min-height: 100vh;
    padding: 40px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cuadrante amarillo  */
.login_cuadrante {
    background-color: #f7f5c9; /* Amarillo pastel */
    width: 60%;
    max-width: 500px;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

/* Logo */
.login_logo {
    width: 180px;
    margin-bottom: 10px;
}

/* Título (iniciar sesión) */
.login_title {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

/* Inputs (Usuario, Contraseña) */
.login_input {
    width: 80%;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    margin-bottom: 20px;
    background-color: #c7dcff; /* Azul pastel */
    font-size: 16px;
    outline: none;
    text-align: center;
    font-weight: bold;
}

/* Botón Acceder */
.login_acceder_button {
    width: 60%;
    padding: 10px;
    background-color: #c7a8ff; /* Morado pastel */
    border: none;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}

.login_acceder_button:hover {
    background-color: #b18aff;
}

/* Texto de registro */
.login_register_text {
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
}

/* Botón registrarse */
.register_button {
    display: inline-block;
    background-color: #c7a8ff;
    padding: 10px 20px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.register_button:hover {
    background-color: #b18aff;
    color: black;
}

/* Enlace acerca de nosotros 
.about_link {
    font-size: 16px;
    text-decoration: underline;
    color: #3a2f52;
}

.about_link:hover {
    text-decoration: none;
    color: #1e1933;
} */
